/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* .judul  {
    padding-top: 4rem;
    color: black;

} */

.tabel {
    border: 1px solid black;
    margin: auto;
}




input[type=submit] {
        height: 28px;
        background: black;
        color: #fff;
       
        border-radius: 2px;
        
}