/* @tailwind base;
@tailwind components;
@tailwind utilities; */




.tabel {
    border: 1px solid black;
}

.satu , .dua , .tiga , .empat , .lima , .enam {
    border: 1px solid black;
}

.isi th {
    border: 1px solid black;
}